<ng-container *ngIf="data$ | async as data">
  <div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <div>Password Validation Rules</div>
        <ol>
          <li>
            Must consist of a mixture of lowercase letters and numerical digits
            only, with at least one of each.
          </li>
          <li>Must be between 5 and 12 characters in length.</li>
          <li>
            Must not contain any sequence of characters immediately followed by
            the same sequence.
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <div *ngIf="data.isSuccessfulValidation">SuccessfulValidation</div>
        <pw-validate-error-messages
          *ngIf="data.validationErrors"
          [errorMessages]="data.validationErrors"
        ></pw-validate-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              type="pasword"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button
            type="submit"
            class="btn btn-lg btn-primary"
            [disabled]="data.isSubmitting"
          >
            Check Password
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
